
/* LOGO I SLIKE*/
.bmicalc {
  top: 70px;
  left: 200px;
  position: absolute;
  width: 250px;
  z-index: 5; 
}
.bmicalc1{
  top: 350px;
  left: 55px;
  position: absolute;
  width: 580px;
  height: auto;
  z-index: 5;
}
/* NASLOV */
.bmi-naslov{
  position: absolute;
  top: 310px;
  left:220px;
  width: 300px;
  font-size: 30px;
  color: white;
  text-wrap: wrap;
  z-index: 5;
}
.bmi-naslov2{
  position: absolute;
  top: 340px;
  left:300px;
  width: 300px;
  font-size: 30px;
  color: white;
  z-index: 5;
}
.bmi-naslov2-brojevi{
  position: absolute;
  top: 690px;
  left:90px;
  width: 500px;
  font-size: 9px;
  color: white;
  letter-spacing: 4px;
  z-index: 5;
}
.bmi-text{
  position: absolute;
  bottom: 150px;
  left:30px;
  font-size: 18px;
  color: white;
  z-index: 5;
}
/* CALCULATOR */
 .bmicalc-content{
  position: absolute;
  top: 90px;
  left: 1150px;
  text-wrap: wrap;
  height: 300px;
  justify-items: center;
  width: 500px;
  font-size: 1.2em;
  color: white;
  z-index: 5;
}
.welcome {
  filter: drop-shadow(0px 0px 15px rgb(86, 147, 227));
}
.button {
  display: inline-block;
  padding: 0.65em 1.6em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: white;
  background: transparent;
  text-align: center;
  transition: all 0.2s;
  animation: buttonbouncy 5s infinite linear;
  position: relative;
  width: 280px;
}
.button:hover {
  background-color: blueviolet;
  color: white;
  filter: drop-shadow(0px 0px 15px rgb(86, 147, 227));
}
@keyframes buttonbouncy {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}
/* REZULTAT */
.rezultat {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  width: 300px;
  height: 100px;
  position: absolute;
  top: 300px; 
  right: 200px;
  color: white;
  font-size: 20px;
  z-index: 5;
}
.rezultat img {
  width: 100px; 
  height: 300px; 
  z-index: 5;
}
.description{
  filter: drop-shadow(0px 0px 15px black);
}
/* Manji Mobilni Telefoni */
@media all 
and (max-width : 360px)  { 
  .bmicalc,
  .bmicalc1,
  .bmi-naslov,
  .bmi-naslov2,
  .bmi-naslov2-brojevi,
  .bmi-text{
    display: none;
  }
  .bmicalc-content{

    top: 90px;
    left: 2%;
    text-wrap: wrap;
    height: 300px;
    justify-items: center;
    width: 500px;
    font-size: 1.2em;
    color: white;
    z-index: 5;
    transform: scale(0.5) 
  }
  .rezultat {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    width: 200px;
    height: 50px;
    top: 500px; 
    left: -10%;
    color: white;
    font-size: 20px;
    z-index: 5;
  }
  .rezultat img {
    width: 100px; 
    height: 300px; 
    z-index: 5;
    
  }
}
/* Veci Mobilni Telefoni */
@media all
and (min-device-width : 361px) 
and (max-device-width : 520px) {
  .bmicalc,
  .bmicalc1,
  .bmi-naslov,
  .bmi-naslov2,
  .bmi-naslov2-brojevi,
  .bmi-text{
    display: none;
  }
  .bmicalc-content{
 
    top: 90px;
    left: 2%;
    text-wrap: wrap;
    height: 300px;
    justify-items: center;
    width: 500px;
    font-size: 1.2em;
    color: white;
    z-index: 5;
    transform: scale(0.5) 
  }
  .rezultat {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    width: 200px;
    height: 50px;
    top: 500px; 
    left: -15%;
    color: white;
    font-size: 20px;
    z-index: 5;
  }
  .rezultat img {
    width: 100px; 
    height: 300px; 
    z-index: 5;
  }
}
/* SREDNJA VELICINA 521 do 721 */
@media all
and (min-device-width : 521px) 
and (max-device-width : 721px) {
  .bmicalc,
  .bmicalc1,
  .bmi-naslov,
  .bmi-naslov2,
  .bmi-naslov2-brojevi,
  .bmi-text{
    display: none;
  }
  .bmicalc-content{
    top: 90px;
    left: 15%;
    text-wrap: wrap;
    height: 300px;
    justify-items: center;
    width: 500px;
    font-size: 1.5em;
    color: white;
    z-index: 5;
    transform: scale(0.5) 
  }
  .rezultat {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    width: 200px;
    height: 50px;
    top: 500px; 
    left: -10%;
    color: white;
    font-size: 20px;
    z-index: 5;
  }
  
  .rezultat img {
    width: 100px; 
    height: 300px; 
    z-index: 5; 
  }
}
/* SREDNJA VELICINA 721 do 1024 */
@media all
and (min-device-width : 722px) 
and (max-device-width : 1024px) {
  .bmicalc,
  .bmicalc1,
  .bmi-naslov,
  .bmi-naslov2,
  .bmi-naslov2-brojevi,
  .bmi-text{
    display: none;
  }
  .bmicalc-content{
    top: 90px;
    left: 15%;
    text-wrap: wrap;
    height: 300px;
    justify-items: center;
    width: 500px;
    font-size: 1.5em;
    color: white;
    z-index: 5;
    transform: scale(0.5) 
  }
  .rezultat {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    width: 200px;
    height: 50px;
    top: 500px; 
    left: 2%;
    color: white;
    font-size: 20px;
    z-index: 5;
  }
  
  .rezultat img {
    width: 100px; 
    height: 300px; 
    z-index: 5;
  }
}
/* FULL HD :D od 1024 */
@media all
and (min-device-width : 1025px) 
and (max-device-width : 1920px) {
}


