
@font-face {
  font-family: 'HotSweat';
  src: url(../assets/HotSweat.ttf);
}


 form { 
  border: 3px solid var(--glow-color);
  border-radius: 30px;
  padding: 20px;
  width: 500px;
  max-width: 400px;
  margin: 0 auto;
  background-color: black;
  color: var(--glow-color);
  font-family: var(--ff-rubik);
}

#registrationForm {
 position: absolute;
  top: 50px; 
  left: 50px;
  text-align: center;
  max-width: 400px;
  transform: scale(0.8); 
  
}

#registrationForm h1 {
  margin-top: 0;
  text-align: center;
  text-decoration: underline;
  animation: border-flicker 2s linear infinite;
  font-family: 'hotsweat';
  color: var(--glow-color2);
  
}

h2 {
  text-align: left; 
  margin-left: 0; 
  margin-bottom: 20px;
  margin-top: 20px;
  color: var(--glow-color2);
  font-family: 'HotSweat';
  font-size: 20px;
} 

#registrationForm .form-row {
  text-align: left;
  margin-bottom: 10px;
}

#registrationForm label {
  display: inline-block;
  width: 40%;
}

#registrationForm input,
#registrationForm select
 {
  display: inline-block;
  width: 53%;
  margin-bottom: 10px;
  border: 3px solid var(--glow-color);
  border-radius: 5px;
}

#registrationForm input {
  width: 50%;
}

#users_first_name,
#users_last_name,
#users_email,
#users_password,
#users_date_of_birth,
#body_measurment_gender,
#body_measurment_height,
#body_measurment_weight,
#body_measurment_fitnes_level,
#fitness_goal_goal {
  background-color: rgb(220, 236, 224);
}

.glowing-btn {
  position: relative;
  color: var(--glow-color);
  cursor: pointer;
  padding: 0.35em 1em;
  border: 0.15em solid var(--glow-color);
  border-radius: 0.45em;
  background: none;
  perspective: 2em;
  font-family: var(--ff-rubik);
   font-size: 2em;
  font-weight: 900;
  letter-spacing: 0.5em;
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 50px;

  -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
      0px 0px 0.5em 0px var(--glow-color);
  -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
      0px 0px 0.5em 0px var(--glow-color);
  box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
      0px 0px 0.5em 0px var(--glow-color);
  animation: border-flicker 2s linear infinite;
}

.glowing-txt {
  float: left;
  margin-right: -0.8em;
  -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
      0 0 0.45em var(--glow-color);
  -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
      0 0 0.45em var(--glow-color);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
  animation: text-flicker 3s linear infinite;
  font-size: 15px;
}

.faulty-letter {
  opacity: 0.5;
  animation: faulty-flicker 2s linear infinite;
}

.glowing-btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  filter: blur(1em);
  transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
  background: var(--glow-color);
  pointer-events: none;
}

.glowing-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: var(--glow-color);
  box-shadow: 0 0 2em 0.2em var(--glow-color);
  transition: opacity 100ms linear;
}

.glowing-btn:hover {
  color: black; 
  background-color: var(--glow-color); 
  text-shadow: none; 
  animation: none;
  box-shadow: 0px 0px 80px var(--glow-color);
  font-style: italic;
  animation: text-flicker 3s linear infinite;
}

.glowing-btn:hover .glowing-txt {
  animation: none;
}

.glowing-btn:hover .faulty-letter {
  animation: none;
  text-shadow: none;
  opacity: 1;
}

.glowing-btn:hover:before {
  filter: blur(1.5em);
  opacity: 1;
}

.glowing-btn:hover:after {
  opacity: 1;
}

@keyframes faulty-flicker {
  0% {
      opacity: 0.1;
  }

  2% {
      opacity: 0.1;
  }

  4% {
      opacity: 0.5;
  }

  19% {
      opacity: 0.5;
  }

  21% {
      opacity: 0.1;
  }

  23% {
      opacity: 1;
  }

  80% {
      opacity: 0.5;
  }

  83% {
      opacity: 0.4;
  }

  87% {
      opacity: 1;
  }
}

@keyframes text-flicker {
  0% {
      opacity: 0.1;
  }

  2% {
      opacity: 1;
  }

  8% {
      opacity: 0.1;
  }

  9% {
      opacity: 1;
  }

  12% {
      opacity: 0.1;
  }

  20% {
      opacity: 1;
  }

  25% {
      opacity: 0.3;
  }

  30% {
      opacity: 1;
  }

  70% {
      opacity: 0.7;
  }

  72% {
      opacity: 0.2;
  }

  77% {
      opacity: 0.9;
  }

  100% {
      opacity: 0.9;
  }
}

@keyframes border-flicker {
  0% {
      opacity: 0.1;
  }

  2% {
      opacity: 1;
  }

  4% {
      opacity: 0.1;
  }

  8% {
      opacity: 1;
  }

  70% {
      opacity: 0.7;
  }

  100% {
      opacity: 1;
  }
}


#selectedImageContainer {
  float: right;
  display: block;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border: 2px solid var(--glow-color);
  border-radius: 50%;
 margin-right: 15px;
}

#selectedImage {
  width: 100%;
  height: auto;
  border-radius: 50%;
}
/* Manji Mobilni Telefoni */
@media all 
and (max-width : 360px)  { 
  form { 
    border: 3px solid var(--glow-color);
    border-radius: 30px;
    padding: 20px;
    width: 300px;
    max-width: 300px;
    margin: 0 auto;
    background-color: black;
    color: var(--glow-color);
    font-family: var(--ff-rubik);
  }
  
  #registrationForm {
   
    top: 10px; 
    left: 10%;
    text-align: center;
    max-width: 400px;
    transform: scale(0.8); 
    
  }
  
  #registrationForm h1 {
    margin-top: 0;
    text-align: center;
    text-decoration: underline;
    animation: border-flicker 2s linear infinite;
    font-family: 'hotsweat';
    color: var(--glow-color2);
    font-size: 30px;
    
  }
}
/* Veci Mobilni Telefoni */
@media all
and (min-device-width : 361px) 
and (max-device-width : 520px) {
  form { 
    border: 3px solid var(--glow-color);
    border-radius: 30px;
    padding: 20px;
    width: 300px;
    max-width: 300px;
    margin: 0 auto;
    background-color: black;
    color: var(--glow-color);
    font-family: var(--ff-rubik);
  }
  
  #registrationForm {
   
    top: 10px; 
    left: 5%;
    text-align: center;
    max-width: 400px;
    transform: scale(0.7); 
    
  }
  
  #registrationForm h1 {
    margin-top: 0;
    text-align: center;
    text-decoration: underline;
    animation: border-flicker 2s linear infinite;
    font-family: 'hotsweat';
    color: var(--glow-color2);
    font-size: 30px;
    
  }
}
/* SREDNJA VELICINA 521 do 721 */
@media all
and (min-device-width : 521px) 
and (max-device-width : 721px) {
  form { 
    border: 3px solid var(--glow-color);
    border-radius: 30px;
    padding: 20px;
    width: 300px;
    max-width: 300px;
    margin: 0 auto;
    background-color: black;
    color: var(--glow-color);
    font-family: var(--ff-rubik);
  }
  
  #registrationForm {
   
    top: 10px; 
    left: 5%;
    text-align: center;
    max-width: 400px;
    transform: scale(0.7); 
    
  }
  
  #registrationForm h1 {
    margin-top: 0;
    text-align: center;
    text-decoration: underline;
    animation: border-flicker 2s linear infinite;
    font-family: 'hotsweat';
    color: var(--glow-color2);
    font-size: 30px;
    
  }
}
/* SREDNJA VELICINA 721 do 1024 */
@media all
and (min-device-width : 722px) 
and (max-device-width : 1024px) {
  form { 
    border: 3px solid var(--glow-color);
    border-radius: 30px;
    padding: 20px;
    width: 300px;
    max-width: 300px;
    margin: 0 auto;
    background-color: black;
    color: var(--glow-color);
    font-family: var(--ff-rubik);
  }
  
  #registrationForm {
   
    top: 10px; 
    left: 5%;
    text-align: center;
    max-width: 400px;
    transform: scale(0.7); 
    
  }
  
  #registrationForm h1 {
    margin-top: 0;
    text-align: center;
    text-decoration: underline;
    animation: border-flicker 2s linear infinite;
    font-family: 'hotsweat';
    color: var(--glow-color2);
    font-size: 30px;
    
  }
}
/* FULL HD :D od 1024 */
@media all
and (min-device-width : 1025px) 
and (max-device-width : 1920px) {
  form { 
    border: 3px solid var(--glow-color);
    border-radius: 30px;
    padding: 20px;
    width: 300px;
    max-width: 300px;
    margin: 0 auto;
    background-color: black;
    color: var(--glow-color);
    font-family: var(--ff-rubik);
  }
  
  #registrationForm {
   
    top: 10px; 
    left: 5%;
    text-align: center;
    max-width: 400px;
    transform: scale(0.7); 
    
  }
  
  #registrationForm h1 {
    margin-top: 0;
    text-align: center;
    text-decoration: underline;
    animation: border-flicker 2s linear infinite;
    font-family: 'hotsweat';
    color: var(--glow-color2);
    font-size: 30px;
    
  }
}